* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  /* overflow: hidden; */
}

.background {
  position: fixed;
  inset: 0;
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20221224/pngtree-blue-musical-notes-background-image_1530362.jpg");
  background-position: center;
  background-size: cover;
  background-size: cover;
  filter: blur(3px) brightness(0.9);
  z-index: -1;
}

.player {
  width: 320px;
  height: 560px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 28px;
  padding: 30px;
  color: white;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 20px;
  font-weight: 600;
}

.cover {
  margin: 35px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 170, 255, 0.5);
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotate 12s linear infinite;
  animation-play-state:paused;
}
.cover.active img{
animation-play-state:running;

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.icon i {
  font-size: 20px;
}

/* .icon .fa-heart:hover {
  color: #bb0000;
  cursor: pointer;
} */
.icon .ism {
  width: 300px;
  /* display: block; */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icon .ism h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.progress {
  margin-top: 20px;
}

.progress input {
  width: 100%;
  accent-color: #1e90ff;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #ccc;
  margin-bottom: 10px;
}

.slider {
  max-width: 100%;
  height: 8px;
  background: #bdbdbd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.nuqta {
  width: 0px;
  height: 6px;
  border-radius: 10px;
  background: red;
  position: relative;
}

.nuqta::after{
  content: "";
  width: 10px;
  height: 10px;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border-radius: 50%;
  background-color: orange;

}

.controls {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.controls i {
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
/* 
.play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play i {
  color: rgb(0, 0, 0);
  font-size: 20px;
} */

.modal {
  border-radius: 28px 28px 0px 0px;
  width: 319px;
  height: 300px;
  overflow-y: auto;
  /* overflow-x: hidden; */
  scrollbar-width: none;
  padding: 30px 60px;
  background: #000000c5;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
  color: white;
  display: none;
}
.modal.active {
  display: block;
}
.modal h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.modal ol {
  width: 250px;
  margin-bottom: 5px;
  cursor: pointer;
}
.modal li {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.622);
  margin-bottom: 10px;
}
.modal .tugma {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  top: 0;
}

.tugma i {
  position: absolute;
  color: red;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 900;
  width: 100px;
  margin-right: -80px;
  transition: all 0.2s ease;
}
.tugma i:hover {
  transform: scale(1.2);
}
.fa-plus {
  cursor: pointer;
}
.fa-heart {
  cursor: pointer;
}

.fa-heart.active {
  color: red;
}

#modal_tugma {
  cursor: pointer;
}

/*  */
.play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #e7e4e4;
  color: rgb(4, 4, 4);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play .fa-pause {
  display: none;
}

.play.active .fa-play {
  display: none;
}

.play.active .fa-pause {
  display: inline-block;
}

@media (max-width: 480px) {

  body {
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding: 20px 0;
  }

  .player {
    /* width: 92vw;          ekran bo‘yicha */
    max-width: 480px;     /* katta bo‘lib ketmasin */
    /* height: auto; */
    /* min-height: 560px; */
    /* padding: 20px; */
    /* border-radius: 22px; */
  }

  .cover {
    width: 160px;
    height: 160px;
    margin: 25px auto;
  }

  .icon .ism h1 {
    font-size: 16px;
  }

  .controls {
    padding: 15px 5px;
  }

  .controls i {
    font-size: 16px;
  }

  .play {
    width: 52px;
    height: 52px;
    font-size: 18px;
  }

  .modal {
    width: 100%;
    height: 70%;
    left: 0;
    bottom: 0;
    top: auto;
    border-radius: 22px 22px 0 0;
    padding: 20px;
  }

}
